In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
print("Hello World")

Hello World

In [3]:
code = pd.read_csv('polyCode.txt', sep = "|")

In [ ]:
# code.head()

In [5]:
code.count()

`polycode`     18884
`sido`         18884
`emd`          18884
`name`         18884
`full_name`    18884
`area`         18884
`remark`       18884
dtype: int64

In [6]:
code['polycode'] = code['`polycode`'].str.replace('`', '', regex = False)

In [7]:
code['name'] = code['`name`'].str.replace('`', '', regex = False)

In [8]:
code['full_name'] = code['`full_name`'].str.replace('`', '', regex = False)

In [9]:
codeDict = dict(zip(code['polycode'], code['full_name']))

In [10]:
# codeDict

In [ ]:
data0701 = pd.read_csv('datas/kt_move/202507/20250701_OUTPUT.txt', sep = '|')
# data0701.head()

In [12]:
data0701['start_place_cd'] = data0701['start_place_cd'].astype(str)
data0701['arv_place_cd'] = data0701['arv_place_cd'].astype(str)

In [13]:
data0701['start_place_cd'].head()

0    111689
1    240034
2    340241
3    110366
4    380120
Name: start_place_cd, dtype: object

In [35]:
# data0701.head()

In [15]:
print("Hello")

Hello

In [16]:
data0701['start_place_cd'] = data0701['start_place_cd'].map(codeDict)
data0701['arv_place_cd'] = data0701['arv_place_cd'].map(codeDict)

In [34]:
# data0701.head()

In [18]:
data0701['start_dt'] = pd.to_datetime(data0701['start_dt'])

In [19]:
data0701['move_st_hr'] = data0701['start_dt'].dt.floor("h")

In [20]:
data0701['move_st_hr']

0         2025-06-30 03:00:00
1         2025-06-30 07:00:00
2         2025-06-30 07:00:00
3         2025-06-30 11:00:00
4         2025-06-30 11:00:00
                  ...
7742941   2025-07-01 09:00:00
7742942   2025-07-01 09:00:00
7742943   2025-07-01 09:00:00
7742944   2025-07-01 09:00:00
7742945   2025-07-01 09:00:00
Name: move_st_hr, Length: 7742946, dtype: datetime64[ns]

In [21]:
data0701['arv_dt'] = pd.to_datetime(data0701['arv_dt'])
data0701['move_arv_hr'] = data0701['arv_dt'].dt.floor("h")

In [22]:
data0701[['move_st_hr', 'move_arv_hr', 'start_place_cd', 'arv_place_cd', 'sex_nm']].head()

,move_st_hr,move_arv_hr,start_place_cd,arv_place_cd,sex_nm
0,2025-06-30 03:00:00,2025-07-01 00:00:00,서울특별시 송파구 송파1동,경기도 평택시 포승읍,M
1,2025-06-30 07:00:00,2025-07-01 00:00:00,광주광역시 동구 학동,서울특별시 구로구 구로5동,M
2,2025-06-30 07:00:00,2025-07-01 04:00:00,충청남도 공주시 이인면,서울특별시 강서구 가양1동,M
3,2025-06-30 11:00:00,2025-07-01 00:00:00,서울특별시 중랑구 면목5동,경상북도 칠곡군 석적읍,M
4,2025-06-30 11:00:00,2025-07-01 01:00:00,경상남도 진주시 중앙동,서울특별시 강남구 논현1동,F

In [23]:
data0701['age_grp'] = (data0701['agegrd_nm'] // 10 ) * 10

In [24]:
data0701['age_grp']

0          40
1          40
2          30
3          50
4          40
           ..
7742941    20
7742942    20
7742943    30
7742944    80
7742945    30
Name: age_grp, Length: 7742946, dtype: int64

In [25]:
arange_datas = data0701[['move_st_hr', 'move_arv_hr', 'start_place_cd', 'arv_place_cd', 'sex_nm', 'age_grp','popl_cnt']]

In [26]:
arange_datas.to_csv('sample2.csv', encoding = 'euc-kr')

In [28]:
import os
import glob

In [75]:
# input_folder = 'datas/kt_move/202507'
# output_folder = 'output_datas'

# os.makedirs(output_folder, exist_ok = True)
# file_list = glob.glob(os.path.join(input_folder, "*.txt"))

In [80]:
# for file_path in file_list:
#     file_name = os.path.basename(file_path)

#     df = pd.read_csv(file_path, sep = '|')
#     df['start_place_cd'] = df['start_place_cd'].astype(str)
#     df['arv_place_cd'] = df['arv_place_cd'].astype(str)

#     df['start_place_cd'] = df['start_place_cd'].map(codeDict)
#     df['arv_place_cd'] = df['arv_place_cd'].map(codeDict)
    
#     df['start_dt'] = pd.to_datetime(df['start_dt'])
#     df['move_st_hr'] = df['start_dt'].dt.floor("h")
#     df['arv_dt'] = pd.to_datetime(df['arv_dt'])
#     df['move_arv_hr'] = df['arv_dt'].dt.floor("h")
    
#     df['age_grp'] = (df['agegrd_nm'] // 10 ) * 10
    
#     arange_datas = df[['move_st_hr', 'move_arv_hr', 'start_place_cd', 'arv_place_cd', 'sex_nm', 'age_grp','popl_cnt']]
#     file_name = str(file_name).replace('.txt', '.csv')
#     output_path = os.path.join(output_folder, file_name)
#     arange_datas.to_csv(output_path, index = False, encoding = 'euc-kr')
#     #

In [33]:
input_folder = 'datas/kt_move/202507'
output_folder = 'output_data_temp'

os.makedirs(output_folder, exist_ok = True)


# for i in range(5, 7):
#     input_folder = input_folder + str(i + 1)
file_list = glob.glob(os.path.join(input_folder, "*.txt"))
for file_path in file_list:
    file_name = os.path.basename(file_path)

    df = pd.read_csv(file_path, sep = '|')
    df['start_place_cd'] = df['start_place_cd'].astype(str)
    df['arv_place_cd'] = df['arv_place_cd'].astype(str)

    df['start_place_cd'] = df['start_place_cd'].map(codeDict)
    df['arv_place_cd'] = df['arv_place_cd'].map(codeDict)
    
    df['start_dt'] = pd.to_datetime(df['start_dt'])
    df['move_st_hr'] = df['start_dt'].dt.floor("h")
    df['arv_dt'] = pd.to_datetime(df['arv_dt'])
    df['move_arv_hr'] = df['arv_dt'].dt.floor("h")
    
    df['age_grp'] = (df['agegrd_nm'] // 10 ) * 10
    
    arange_datas = df[['move_st_hr', 'move_arv_hr', 'start_place_cd', 'arv_place_cd', 'sex_nm', 'age_grp','popl_cnt']]
    mask = (arange_datas['move_st_hr'].dt.hour >= 11) & (arange_datas['move_st_hr'].dt.hour <= 16) \
    | (arange_datas['move_arv_hr'].dt.hour >= 11) & (arange_datas['move_arv_hr'].dt.hour <= 16)
    arange_datas = arange_datas[mask]
    file_name = str(file_name).replace('.txt', '.csv')
    output_path = os.path.join(output_folder, file_name)
    arange_datas.to_csv(output_path, index = False, encoding = 'euc-kr')